{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron mt-3">
        <h1>Elastic search synonym demo</h1>
        <p class="lead">Synonyms made easy.</p>
    </div>
{% endblock %}